@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--cor-do-fundo);
  font-size: 18px; /* Aumentando o tamanho base */
  line-height: 1.6;
}

:root {
  --cor-do-fundo: #f6f4f0;
  --cor-1: #fffbf5;
  --cor-do-banner: #2c3838;
  --cor-3-detalhes: #043222;
}