@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--cor-0);
}
:root {
  --cor-0: #f5efeb
  --cor-1: #e5dfd8;
  --cor-2: #a3887b;
  --cor-3: #556877;
  --cor-4: #2d3047;
  --cor-5: #2d3047;
}
