@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--cor-do-fundo);
}

:root {
  --cor-do-fundo: #f6f4f0;
  --cor-1: #fffbf5;
  --cor-do-banner: #2c3838;
  --cor-3-detalhes: #043222;
}